<!-- 

<nav class="navbar">
  <div class="logo">Google</div>
  <ul class="nav-links">
    <li><a href="#">About</a></li>
    <li><a href="#">Products</a></li>
    <li class="active"><a href="#">Company Info</a></li>
    <li><a href="#">News</a></li>
  </ul>
</nav>

 -->

 <!-- <nav class="navbar">
  <div class="logo">Google</div>
  
  <button class="menu-toggle" id="menuToggle">&#9776;</button>
  
  <ul class="nav-links" id="navLinks">
    <li><a href="#">About</a></li>
    <li><a href="#">Products</a></li>
    <li class="active"><a href="#">Company Info</a></li>
    <li><a href="#">News</a></li>
  </ul>
</nav> -->

<nav class="navbar">
  <div class="logo">Google</div>

  <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>

  <ul class="nav-links" [class.show]="isMenuOpen">
    <li><a href="#">About</a></li>
    <li><a href="#">Products</a></li>
    <li class="active"><a href="#">Company Info</a></li>
    <li><a href="#">News</a></li>
  </ul>
</nav>

